<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<servlet>
		<servlet-name>ProxyFachada</servlet-name>
		<servlet-class>vista.acceso.ProxyFachadaLogicaWeb</servlet-class>
		<init-param>
			<param-name>SERVER-RMI</param-name>
			<param-value>//localhost:1099/</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Ingreso</servlet-name>
		<servlet-class>vista.web.servlet.svtIngreso</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReservaTurno</servlet-name>
		<servlet-class>vista.web.servlet.svtReservaTurno</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListaConsultasDisp</servlet-name>
		<servlet-class>vista.web.servlet.svtListaConsultasDisp</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListadoConsultasAfi</servlet-name>
		<servlet-class>vista.web.servlet.svtListadoConsultasAfi</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListadoConsultasMed</servlet-name>
		<servlet-class>vista.web.servlet.svtListadoConsultasMed</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListadoEspecialidades</servlet-name>
		<servlet-class>vista.web.servlet.svtListadoEspecialidades</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ListaMedicosEsp</servlet-name>
		<servlet-class>vista.web.servlet.svtListadoMedicosEsp</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Cerrar</servlet-name>
		<servlet-class>vista.web.servlet.svtCerrar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ingreso</servlet-name>
		<url-pattern>/WebContent/ingreso.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReservaTurno</servlet-name>
		<url-pattern>/WebContent/aplicarReserva.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListaConsultasDisp</servlet-name>
		<url-pattern>/WebContent/listarConsultasDisp.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListadoConsultasAfi</servlet-name>
		<url-pattern>/WebContent/listadoConsultasAfi.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListadoConsultasMed</servlet-name>
		<url-pattern>/WebContent/listadoConsultasMed.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListadoEspecialidades</servlet-name>
		<url-pattern>/WebContent/listadoEspecialidades.jsp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListaMedicosEsp</servlet-name>
		<url-pattern>/WebContent/listarMedEsp.jsp</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>Cerrar</servlet-name>
		<url-pattern>/WebContent/cerrar.jsp</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>15</session-timeout>    <!-- 15 minutes -->
	</session-config>
</web-app>